.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
    color: white;
}

.bn-grey{
    background: linear-gradient( #1e1e1e 0%,  #121212 40%);
    color: white;
}

.rounded{
    border-radius: 10px;
}

.m-1{
    margin: 5px 3px;
}

.m-2{
    margin: 10px 5px 12px 0px;
}

.m-3{
    margin: 8px 3px;
}

.p-1{
    padding:20px; 
}

@media (max-width: 1400px){
    .m-2{
        margin: 10px 5px 12px 5px;
    }
}